<div class="header">
  <h1>Welcome to AeroAge Airlines</h1>
</div>
<div class="login-container">

  <form class="login-card" (ngSubmit)="login()">

    <h2>Login</h2>

    <input
      type="email"
      name="email"
      [(ngModel)]="loginRequest.email"
      placeholder="Email"
    />

    <div class="error" *ngIf="submitted && !loginRequest.email">
      Email is required
    </div>

    <input
      type="password"
      name="password"
      [(ngModel)]="loginRequest.password"
      placeholder="Password"
    />

    <div class="error" *ngIf="submitted && !loginRequest.password">
      Password is required
    </div>

    <button type="submit">
      Login
    </button>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>



  </form>

</div>
